*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --width: 900px;
    --gray: #d9d9d9;
    --dark-gray: #9d9d9d; 
}

h1{
    padding-top: 40px;
}

.books-container{
    width: var(--width);
    padding-top: 50px;
}

.books-container > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    height: 50px;
}

.books-container > div:first-child > span{
    font-size: 1.5rem;
}


#book-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    height: 50px;
    background-color: var(--gray);
    /* border: solid 2px black; */
    padding: 0 20px 0 20px;
    box-shadow: black 5px 4px;
}

#buttons-div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#buttons-div > div {
    display: flex;
    gap: 20px;
}

#hr, #r, #dr {
    width: 100px;
    cursor: pointer;
    border: none;
}
#hr {
    background-color: var(--gray);

}

#r, #dr{
    background-color: var(--dark-gray);
}

#dr{
    color: white;
}

#hr:hover{
    width: 150px;
    font-size: 1rem;
    box-shadow: black 10px 10px;
}

#hr:active{
    width: 150px;
    box-shadow: none;
}

#dr:hover{
    width: 150px;
    font-size: 1rem;
    box-shadow: black 10px 10px;
}

#dr:active{
    width: 150px;
    box-shadow: none;
}

#r:hover{
    width: 150px;
    font-size: 1rem;
    box-shadow: black 10px 10px;
}

#r:active{
    width: 150px;
    box-shadow: none;
}

#dlt{
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100px;
}

.input-container > form{
    width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.input-container > form > input{
    height: 30px;
    width: 200px;
    font-size: 0.85rem;
}

.input-container > form > label{
    font-size: 1.1rem;
}

#add-book{
    position: relative;
    bottom: 25px;
    left: 9.5in;
    width: 100px;
    background-color: #d9d9d9;
    cursor: pointer;
}

